body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.arriba{
    padding-top: 16vh;
}
hr{
    margin: auto;
    color: #AFB4FF;
    width: 30%;
    border: 1px dotted;
    border-radius: 100px;
    opacity: 1;
}




.nav-link:link, .nav-link:visited{
    font-weight: 100;
   color: #AFB4FF;
   
}

.nav-link:hover, .nav-link:active{
    font-weight: 100;
   color: #525DFF;
}
.presentation{
    font-family:  'Open Sans', sans-serif;
    color: white;
    justify-content: center;
    height: 50vh;
    margin: 0 auto;
    max-width: device-width;
    width: 70%;

}
.navbar{
    padding: 0;
    height: 10vh;
   padding-top: 6vh;
   width: 100vw;
   background-color:rgba(0, 0, 0, 0.9);   
   /* background-color: rgba(255,255,255,0.5); */
}
.gif-cami{
    height: 20rem;
}

.presentation-text{
    text-align: right;
    width:40%;
    


}
.hello{
    font-weight:800;
}



.links{
    height: 4rem;
}
.footer-logos{
    justify-content:flex-end;
}
.about, .experience, .portfolio, .contact, .footer-style{
    font-family:  'Open Sans', sans-serif;
    text-align: justify;
    color: #AFB4FF;
    margin: auto;
    width: 70%;
    padding: 10px;
 
   
}

@media (min-width: 769px){
    .about, .experience, .portfolio, .contact, .footer-style{
        width: 40%;
    }
}

p, .about{
    font-weight: 100;
}
h2{
    font-weight: 800;
    text-align: center;
   
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: black;
}
    
 .navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color:#AFB4FF;
    margin-bottom: 5px;
}
.navbar-collapse{
    background-color:rgba(0, 0, 0, 0.9); 
}

.redes{
    justify-content: center;
}

.sticky{
    position: fixed;
}

footer{
    background-image: linear-gradient(to top, #AFB4FF, black);
}
