body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.fwh-slide{
    /* height: 90vh; */
    /* background-color: #525DFF; */
    background-color: black;
    box-sizing: border-box;
    /* padding: 4rem; */
    padding-top: 16vh;

    
    /* 100% of visible height area */
}

/* .fwh-slide--bg-white{
    background: antiquewhite;
    color: aqua;
} */
.sticky{
    position: fixed;
}

.nav-link:link, .nav-link:visited{
    font-weight: 100;
   color: #AFB4FF;
   
}

.nav-link:hover, .nav-link:active{
    font-weight: 100;
   color: #525DFF;
}

.presentation{
    font-family:  'Open Sans', sans-serif;
    color: white;
    justify-content: center;
    height: 50vh;
    width: device-width;
    margin: 0 auto;
    max-width: device-width;

}

/* Backgropund colour makes the navbar semitransparent */
.navbar{
    padding: 0;
    height: 10vh;
   padding-top: 6vh;
   width: 100vw;
   background-color:rgba(0, 0, 0, 0.9);   
   /* background-color: rgba(255,255,255,0.5); */
}


/* .container-fluid{
    opacity: 0.2;
    position: fixed;

}
li{
    opacity: 1;
} */
.gif-cami{
    height: 20rem;
}


.presentation-text{
    text-align: right;


}
.hello{
    font-weight:800;
}



.links{
    height: 4rem;
}
.footer-logos{
    justify-content:flex-end;
}
.about, .experience, .portfolio, .contact, .footer-style{
    font-family:  'Open Sans', sans-serif;
    color: #AFB4FF;
 
    width: 100%;
    text-align: left;
    justify-content: center;
}
.about{
    justify-content: center;
}
p, .about{
    font-weight: 100;
}
h2{
    font-weight: 800;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: black;
     }
    
     .navbar-toggler .line{
        width: 100%;
        float: left;
        height: 2px;
        background-color:#AFB4FF;
        margin-bottom: 5px;
        }

.box{
    width: 350px;
    height: 350px;
}